<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Frontend Technologies
    link(rel="stylesheet", href="/css/innoq-bootstrap-theme.css")
    link(rel="stylesheet", href="/css/globals.css")
    link(rel="stylesheet", href="/css/colors.css")
    link(rel="stylesheet", href="/css/topic-range.css")
    link(rel="stylesheet", href="/css/app.css")

  body
    main
      h1 Frontend Technologies Integration Guide

      p.
        Modern web-based digital solutions nowadays consist often of a multitude of services that build up together what
        we think is the final product.

      ft-topic-range(label-low="(lose)" label-high="(strong)")
        ft-topic-range-label Coupling

        ul
          li.range-item
            span
              strong No Integration
              = " "
              | (Decoupled Standalone Applications, with no knowledge about eachother)
          li.range-item
            span
              strong Integration via Links or Forms
              = " ("
              a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a") &lt;a&gt;
              = " or "
              a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form") &lt;form&gt;
              = ") with Page Change included"
          li.range-item.group-1-offset
            span
              strong Integration via iFrames
              = " ("
              a(href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe") &lt;iframe&gt;
              = ")"
          li.range-item.group-1-offset
            span
              strong Integration via
                = " "
                a(href="https://httpd.apache.org/docs/current/howto/ssi.html#:~:text=SSI%20(Server%20Side%20Includes)%20are,program%2C%20or%20other%20dynamic%20technology.") SSI
                = " / "
                a(href="https://www.w3.org/TR/esi-lang/") ESI
          li.range-item.group-1-offset
            span
              strong Integration via Clientside Includes
              = " "
              = "(Content-Retrieval as HTML by JS, see e.g. "
              a(href="https://roca-style.org/libraries.html") ROCA
              =")"
          li.range-item.group-1-offset
            span
              strong Integration via Clientside Include
              = " "
              | Content-Retrieval as structured Data (e.g. JSON) and render inside of Client Application by JS
          li.range-item.group-2-offset
            span
              strong Rich Components in a server-driven Web-App
              sup 1
              = " "
              | Content-Retrieval as structured Data (e.g. JSON) and render inside of Client Application by JS
          li.range-item.group-2-offset
            span
              strong Singlepage Framework
              sup 2
              = " "
              | loading self contained Modules from other Systems including Rendering Logic
          li.range-item
            span
              strong Singlepage Framework
              sup 2
              = " "
              | composing all Backend Resources in one Frontend
          //- TODO: bad hack ... but ft-range group needs to be in the ul because of grid :/
          li.ft-range-group.group-1.transclusion-label
            span transclusion
          li.ft-range-group.group-2.microfrontend-label
            span microfrontends

      ol.definition
        li without Client-Side routing
        li SPA in the means of a JS heavy framework with (!!) Client-side Routing
